<div class="containerDashboard">
    <article class="menuLateral" >
        <div class="cont-panel">
            <section class="header-Menu" style="" >
                <h4>{{client}}</h4>
                <img src="resources/img/iconostema/logo.png" class="imgLogo" alt="Logo">
                <div  class="closeMenu">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </section>
            <ul id="listpanel">
                <!-- Contenido Dinamico -->
            </ul>
            
        </div>
    </article>
    <article class="PageViewMenu">
        <div id="barraPerfil"></div>
        <div id="modalPreload"></div>
        <div id="showPage"></div>
    </article>
</div>
<script>
	loadScript('src/views/Dashboard/Dashboard.js');
</script>